body{
    display: grid;
    background: #A13D46;
    margin: 0 auto;
    max-width: 30em;
    font: 1em sans-serif;
}

a{
    text-decoration: none;
    color: black;
}



@media screen and (min-width: 540px) {
    body{
        max-width: none;
    }
    
}
@media screen and (min-width: 740px) {
    body{
        padding-top: 30px;
    }
    
}


h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

button{
    border: none;
}

ul, ol{
    display: grid;
    row-gap: 5px;
    margin: 0;
    padding: 0;
}

.tipsContainer{
    display: grid;
    row-gap: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    padding: 20px;
    
}

.tipsContainer>a{
    font: .7em sans-serif;
}



.tipsContainer>ol{
    border-radius: 5px;
    display: grid;
    row-gap: 20px;
    padding: 10px 30px ;

}

.tipsContainer>ol>li>h3{
    font: 1.1em sans-serif;
}




.tipsContainer>footer{
    display: grid;
    background-color: #a13d45;
    border-radius: 5px;
    color: white;
    display: grid;
    padding: 10px;

}


.tipsContainer>footer>p{
    color: white;

}
.tipsContainer>footer>a{
    display: flex;
    column-gap: 10px;
    height: 40px;
    justify-content: center;
    align-items: center;

    
    
}

.tipsContainer>footer>a>img{
    height: 30px;
}


.tipsContainer>footer>a>h3{
    color: white;
    font: 1.2em sans-serif;
}




.landingPage-Header{
    display: grid;
    overflow: hidden;
}


@media screen and (min-width: 740px) {
    .landingPage-Header{
        justify-content: center;
    }

    .landingPage-Header header picture img{
        width: 100%;
        height: 400px;
    }
    
}

.landingPage-Header header{
    grid-column: 1/2;
    grid-row: 1/2;

}


.landingPage-Header header picture img{
    width: 100%;
}


.landingPage-Header main{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 130px 1fr;
    align-content: center;


}



.landingPage-Header main aside{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto;
    width: 200px;
    align-self: center;
    padding: 0 10px;
    margin-top: 20px;
    color: white;
    font: .9em sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    row-gap: 5px;
    /* padding-left: 45px; */
}



@media screen and (min-width: 740px){

    .landingPage-Header{
        justify-content: center;
    }
    

    .landingPage-Header header picture {
        filter: blur(3px);
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
    }

    


    .landingPage-Header main{
        justify-self: center;
        /* margin-bottom: -50px; */
        grid-template-columns: 250px 1fr;

    }
  

    .landingPage-Header main aside{
        padding-left:  none;
        width: 300px;
        font-size: 1.3em;
        padding-left: 0;

    
    }

    

}


@media screen and (min-width: 740px) {

    .landingPage-Header main{
        margin-bottom: -30px;

    }
}


.landingPage-Header main aside :first-child{
    align-self: flex-end;
}

.landingPage-Header main aside :last-child{
    align-self: flex-start;
    margin-top: -10px;
}

.landingPage-Main{
    display: grid;
    background: white;
    border-radius: 20px 20px 0 0;
    padding: 0 40px;
    row-gap: 15px;
    padding-bottom: 20px;
    max-width: 30em;
    margin: -30px auto 0;
    padding-bottom: 70px;

    
}

@media screen and (min-width: 540px) and (max-width: 740px) {


    .landingPage-Header main{
        grid-template-columns: 200px 1fr;
        /* margin-bottom: -70px; */

    }

    /* .landingPage-Header main aside{
        margin-top: -50px;
        padding-left: 30px;
    } */


    
    .landingPage-Main{
        margin: 30px auto 0;
        margin: -70px auto 0;
    }

}


@media screen and (min-width: 740px) {
    .landingPage-Main{
        border-radius: 20px;
        margin: 0 auto ;

    }

    .landingPage-Main>section{
        max-width: 30em; 
        padding: 0 70px;
    }

    .tipsContainer{
        box-shadow: none;
    }
    
}

.landingPage-Main header{
    display: grid;
    justify-items: center;
    margin-top: -30px;
    row-gap: 5px;
    
}
.landingPage-Main header h1{
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.landingPage-Main section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


.landingPage-Main section:last-of-type p{
    font: 1em sans-serif;
    /* color: black; */
}


.landingPage-Footer{
    display: grid;
    align-content: flex-start;
    row-gap: 30px;
    padding: 20px 40px;
    color: white;
    height: 180px;
    /* max-width: 20em; */
    margin: 0 auto ;
    justify-items: center;
}

.landingPage-Footer p{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: whitesmoke;
}

.landingPage-Footer aside{
    display: grid;
    grid-template-columns: 1fr 100px;
}
.landingPage-Footer aside button{
    background: none;
    font: 1.5em sans-serif;
    text-align: left;
    color: whitesmoke;
    
    
}

.Review-Container{
    display: grid;
    /* width: 100vw; */
    padding: 50px 20px;
    row-gap: 10px;
    background-color: #b0686e;
    margin: 20px 0;
}

.Review-Container ul::-webkit-scrollbar{
    display: none;

}

.Review-Container h1{
    font: 2em sans-serif;
    color: white;
}


.Review-Container ul {
    display: flex;
    width: 90vw;
    column-gap: 10px;
    overflow: scroll;

}

.Review-Container ul section{
    display: grid;
    height: 200px;
    background: white;
    display: grid;
    padding: 20px;
}

.Review-Container ul section button{
    font: 1em sans-serif;
    padding: 10px;
    width: 150px;
    height: 40px;
    background-color: #A13D46;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562)
}


.Review-Container ul li{
    display: grid;
    min-width: 250px;
    max-width: 250px;
    background: white;
    overflow: hidden;
    /* padding: 30px; */
    align-content: flex-start;
    row-gap: 10px;
}



.Videos-Container{
    display: grid;
    justify-content: center;
    padding-top: 30px;
}

.Videos-Container>video{
    border-radius: 10px;
    background-color: black;
}


.arrowContainer{
    display: grid;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.arrowContainer>div>a{
    background-color: #A13D46;
    display: grid;
    grid-template-columns: 1fr 40px;
    justify-content: center;
    height: 25px;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;  

}


.arrowContainer>div>a>button{
    background: none;
    color: white;
    font: 1em sans-serif;
}




/* .Review-Container ul li button{
    position: absolute;
    
} */





